:root {
--primary-text-color: #212121; 
--title-text-color: #757575;
--accent-color: #2196F3;
--white-color: #FFFFFF;
--main-fonts: Roboto, sans-serif;
--secondary-font: Raleway, sans-serif;
}
.link,
.list {
    list-style: none;
    text-decoration: none;
}
body {
    background-color: #FFFFFF;
    color: var(--primary-text-color);
    font-family: var(--main-fonts)
}
/* Шапка */
.logo {
    color:var(--primary-text-lcolor);
    text-decoration: none;
    font-weight: 700;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;  
}
.Web {
    color: var(--accent-color);
}
.link {
    color: var(--primary-text-color);
    text-decoration: none;
}
/* Site nav */
.contact-link {
    color: var(--title-text-color);
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
}
.telephone{
    text-decoration: none;
    font-family: var(--main-fonts);
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color:var(--title-text-color);
}
.link:hover,
.link:focus {
    color: var(--accent-color);
}
.contact-link:hover,
.contact-link:focus {
 color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}

/* Герой */
.main {
    background-color: #2F303A;
}
.main-title {
    color: var(--white-color);
    font-family:var(--main-fonts);
    font-weight: 900;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    
}
.btn {
    color: var(--white-color);
    background-color: var(--accent-color);
}
/* Описание */
.text {
    color: var(--title-text-color);
    font-weight: 400;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
}
/* Чим мы займаємося */

/* Наша команда */
.team-position {
    color: var(--title-text-color);
    font-weight: 400;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
}

/* Подвал */ 
.footer {
    background: #2F303A;
}
.footer-logo {
    color: var(--white-color);
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
}
.link-address {
    text-decoration: none;
    color: var(--white-color);
    font-weight: 400;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
}

.list-footer {
    text-decoration: none;
    font-weight: 400;
    line-height:calc(24 / 14);
    letter-spacing: 0.03em;
    color: #ffffff99;
    
}
/* Наші роботи */
.btn-portfolio:focus,
.btn-portfolio:hover { 
    background-color: var(--accent-color);
    color: var(--white-color);
}

.main-title {
    color: var(--white-color);
    font-weight: 900;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.list-main {
    color: var(--primary-text-color);
    font-weight: 700;
    line-height:calc(36 / 18);
    letter-spacing: 0.06em;
}
.link-work {
    text-decoration: none;  

}
.name-project {
    color: var(--title-text-color);
    font-weight: 400;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
}


/* Основной цвет #212121 */
/* Вторичный цвет #757575 */
/* Акцент #2196F3  */
/* белый цвет #FFFFFF */
/* номер в конце color: rgba(255, 255, 255, 0.6); */
/* вторичный цвет фона #F5F4FA */